{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">

<br><br><br><br><br><br><br>
<div class="col">
	
        <table class="table">
            {% csrf_token %}
            <thead class="thead-dark">
              <tr>
                <th scope="col">Matkul</th>
                <th scope="col">Dosen</th>
                <th scope="col">SKS</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Semester</th>
                <th scope="col">Ruang Kelas</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% for i in matkul %}
                  <tr>
                    <td>
                      {{i.nama_matkul}}
                    </td>
                    <td>
                      {{i.nama_dosen}}
                    </td>
                    <td>
                      {{i.jumlah_sks}}
                    </td>
                    <td>
                      {{i.deskripsi_matkul}}
                    </td>
                    <td>
                      {{i.smt_tahun}}
                    </td>
                    <td>
                      {{i.ruang_kelas}}
                    </td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_matkul' i.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_matkul' i.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
				
			

		
	
</div>


{% endblock %}